{% extends 'components/base.html' %}
{% load static %}

{% block title %}
    Filmes
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/movies.css' %}">
{% endblock %}

{% block content %}
    {% include 'components/nav.html' %}
    
    <main>
        <h2>Escolhe aí</h2>
        <h1>Todos os filmes cadastrados</h1>
        <p class="sub_title">Listados Aleatoriamente</p>

        <section>
            <div class="listMovies">
                {% for movie in movies %}
                    {% include 'components/card.html' %}
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}

{% block scripts %}
{% endblock %}
